
.card-block {
}
.card-btn{

}
.item-count{
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 50%;
    width: 18px;
    text-align: center;
}
.card-content{
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 10px 10px;
    box-sizing:border-box;
    overflow: hidden;
    width: 350px;
    max-height: 500px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.555);
    right: 10px;
    border-radius: 20px;
    font-size: 18px;
    color: rgb(255, 162, 0);
    overflow-y: scroll;
}
.card-content::-webkit-scrollbar{
    display: none;
}
.card-title{
    font-size: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: bolder;
}
.card-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.item-name{
}
.delete-item{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none
}
.remove-icon{
    width: 100%;
    height: 100%;
}
.total-container{
    font-size: 20px;
    color: rgb(255, 162, 0);
    text-align: center;
    font-weight: bolder;
}
.order-btn-container{
    background-color: rgba(148, 66, 66, 0);
    text-align: center;
}
.order-btn{
    background-color: rgb(255, 162, 0);
    width: 180px;
    font-size: 24px;
    color:white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
.block-empty{
    text-align: center;
}