.name-block, .card-block, .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    position: sticky;
    background-color: rgba(255, 162, 0, 0.35);
    width: 100%;
    font-size: 34px;
    display: flex;
    justify-content: space-between;
    padding: 0
}

.menu-btn{
    width: 70px;
    padding: 5px;
    background-color: rgba(0, 255, 255, 0);
}
/* .menu-btn:hover{
    border: transparent;
}
.menu-btn:focus + .dropdown-menu{
    opacity: 1;
}
 */
 .dropdown-menu{
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.name-block{
    background-color: rgba(0, 100, 0, 0);
    font-size: 16px;
    flex-direction: row;
}
.main-icon-block{
    width: 50px;
}
.card-block{
    background-color: rgba(130, 0, 252, 0);
    width: 65px;
}
.icon{
    width: 40px;
    height: 40px
}